* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to right, #301414 0%, #6d2229 100%);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#draw {
  width: 120px;
  height: 170px;
  padding: 0;
  background-image: url("../img/Card-back.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 5px 5px 1px rgb(160, 22, 22);
  transition: transform 0.2s ease;
}

#draw:hover,
#card-front:hover {
  transform: translateY(-8px) rotateX(10deg);
  box-shadow: 5px 5px 1px rgb(160, 22, 22);
  cursor: pointer;
}

#draw:active,
.card-front-container:hover {
  transform: translateY(-2px);
}

/*  */

#card-front {
  width: 120px;
  height: 170px;
  border-radius: 8px;
  border: 2px solid rgb(160, 22, 22);
  /* Matching your button's 3D shadow */
  box-shadow: 5px 5px 1px rgb(160, 22, 22);
  transition: transform 0.3s ease;
  animation: popIn 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 10px;
}

@keyframes popIn {
  0% {
    transform: scale(0.5) rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: scale(1) rotateY(0deg);
    opacity: 1;
  }
}

.card-container {
  display: flex;
  gap: 20px;
}

.b {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#shuffle-button {
  padding: 10px 20px;
  font-size: 1.2rem;
}

#Deck,
#count,
h1,
h3 {
  font-size: 2rem;
  background: linear-gradient(to right, rgb(217, 137, 137), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
